@model ResolveDesk.Models.User

<h2>Edit User</h2>

<form asp-action="EditUser" asp-controller="Admin" method="post">

    <input type="hidden" asp-for="Id" />

    <div class="mb-3">

        <label>Name</label>

        <input asp-for="Name" class="form-control" />

    </div>

    <div class="mb-3">

        <label>Email</label>

        <input asp-for="Email" class="form-control" />

    </div>

    <div class="mb-3">

        <label>Role</label>

        <select asp-for="Role" class="form-control">

            <option>Student</option>
            <option>Admin</option>

        </select>

    </div>

    <button type="submit" class="btn btn-success">Update</button>

</form>